:root {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: #fefefe;
}

header {
  height: 116px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
}

.main {
  position: absolute;
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.pontos {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  width: 410px;
  margin-left: 68px;
  z-index: -999;
  top: 440px;
}

.modelo-pontos {
  width: 7px;
  height: 7px;
  border-radius: 1000px;
  background: #f4f4f4;
}

.pontos2 {
  margin-left: 125px;
  top: 1626px;
  z-index: -1000;
}
